# Pandas tutorial ( Day 11)

## How to install library
pip install pandas

pip instal numpy

## Importing Libraries

In [3]:
#importing libraries 
import pandas as pd 
import numpy as np

In [8]:
# object creation 
s= pd.Series([1,2,np.nan ,5,7,8,9])
s

0    1.0
1    2.0
2    NaN
3    5.0
4    7.0
5    8.0
6    9.0
dtype: float64

In [15]:
dates = pd.date_range("20220101", periods=9)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09'],
              dtype='datetime64[ns]', freq='D')

In [16]:
dates = pd.date_range("20220101", periods=33)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
               '2022-02-02'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df= pd.DataFrame(np.random.randn(33,5), index= dates, columns= list("ABCDE"))
df

                   A         B         C         D         E
2022-01-01 -0.126032 -0.199938 -0.288899  0.389413 -0.273131
2022-01-02 -0.085146 -1.212453 -1.380828  0.417691  0.782444
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817
2022-01-04 -1.024023  0.079319  0.562072  0.157869  1.073070
2022-01-05  2.117883 -1.220357 -1.407096 -0.583775 -0.016587
2022-01-06  0.832723  1.151164 -0.307525 -0.028793  0.069695
2022-01-07 -0.304651  0.065318  1.809717  0.506734  0.702857
2022-01-08 -1.972085 -0.036357 -0.171530 -0.133243 -0.108570
2022-01-09  0.432924 -1.836288  0.466117  1.247693 -0.282017
2022-01-10 -0.169957 -0.361568 -1.287344 -0.748285 -0.347073
2022-01-11 -0.418178 -1.237385  1.173824 -0.947559 -0.146890
2022-01-12  0.550162  0.046416  0.755635 -0.994057 -0.832033
2022-01-13  1.272304 -1.161495  1.718792  1.623088 -2.137003
2022-01-14  1.382511  0.712078 -0.333969 -0.272936  0.177636
2022-01-15  1.178524  1.462303 -0.497917  0.441221 -1.140695
2022-01-16 -0.332209  2.820748  0.360238  0.120003 -1.140833
2022-01-17  2.179687 -1.660784  1.022057 -0.925613 -1.005609
2022-01-18  2.261681  0.170805 -3.247575  0.574118  0.449672
2022-01-19  1.130726 -2.063273 -0.922675 -1.087421  1.754682
2022-01-20  2.237124  0.241961 -0.548753 -0.614911 -1.324496
2022-01-21  1.829505  2.083049 -0.876144 -0.432180 -1.008887
2022-01-22 -0.495221  0.875533  1.192965  1.358641  3.064904
2022-01-23 -0.198214 -2.075892  0.887191  0.221786 -0.416216
2022-01-24 -0.428832 -0.146865 -0.516980 -1.979471  0.532454
2022-01-25 -1.047943  0.834688 -0.241208  0.673116  1.035140
2022-01-26 -0.427744  1.550146 -2.280609 -0.351001  2.043535
2022-01-27  0.568554  0.065070  0.106410 -1.210190  0.954157
2022-01-28 -0.525053  0.089512  2.491040 -0.947489  1.427276
2022-01-29 -0.506854  2.501386  0.796286  1.332061  1.083685
2022-01-30  2.111358  1.415935 -0.883126 -0.312846 -0.036638
2022-01-31  0.874926  0.681585 -0.958487 -0.403117 -0.838487
2022-02-01  1.924742  0.724442  0.427667  0.527684  0.528801
2022-02-02  0.186479  1.908751 -2.363941  0.642013  0.382990

In [27]:
df2= pd.DataFrame(
    {
    "A" : 1.0,
    "B": pd.Timestamp("20130102"),
    "C": pd.Series(1, index= list(range(4)), dtype="float32"),
    "D": np.array([3]*4, dtype= "int32"),
    "E": pd.Categorical(["test","train","test","train"]),
    "F": "foo"
    }
    )

In [28]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [29]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [30]:
df2.head(2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo

In [31]:
df.tail(2)

                   A         B         C         D         E
2022-02-01  1.924742  0.724442  0.427667  0.527684  0.528801
2022-02-02  0.186479  1.908751 -2.363941  0.642013  0.382990

In [59]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [38]:
dates1 = pd.date_range("20220101", periods=20)
dates1

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20'],
              dtype='datetime64[ns]', freq='D')

In [40]:
df1= pd.DataFrame(np.random.randn(20,5), index= dates1, columns= list("ABCDE"))
df1

                   A         B         C         D         E
2022-01-01 -0.541502  0.886441 -0.596612  0.958417  0.864139
2022-01-02  0.918294  0.856707 -0.232364  0.950132  0.211419
2022-01-03  0.833418  1.148444 -1.121900 -0.603222  1.036992
2022-01-04  2.186702  0.818687 -1.190276 -0.580596  0.174947
2022-01-05 -0.081641 -1.090158 -0.308767 -0.372396 -0.321147
2022-01-06 -1.083372  0.382338  0.756829  1.324458  0.765886
2022-01-07 -0.737423  2.169094 -0.513894  0.834916  0.798774
2022-01-08 -0.104126 -1.129152  0.275917  1.784006 -0.757977
2022-01-09  1.563553  0.156646 -0.005455  0.149462 -0.569594
2022-01-10 -0.164563 -0.945341  0.595697 -0.747611  0.368079
2022-01-11  0.151630  0.185801 -0.109403  0.568989 -0.550406
2022-01-12 -1.507866  0.985331  0.107831 -0.096001 -0.163802
2022-01-13 -1.132864  0.065728 -0.252707  1.132176 -0.054955
2022-01-14  0.027169  1.010623 -0.863628 -2.433764  1.518148
2022-01-15 -0.528457 -1.839193 -0.122310  1.835312 -0.616390
2022-01-16 -0.740931 -0.622565  0.068501 -0.036141 -1.138896
2022-01-17 -0.667649 -1.147841 -0.078040  0.319734  2.073970
2022-01-18  1.873010 -0.532156  0.961979  0.242676  1.761194
2022-01-19  0.537869  0.659790 -0.536750  0.209704  0.107753
2022-01-20  1.198935 -1.456129  0.470587 -0.502338  1.306199

In [42]:
df1.to_numpy()

array([[-0.54150188,  0.88644114, -0.5966125 ,  0.95841674,  0.86413938],
       [ 0.91829409,  0.8567072 , -0.23236426,  0.95013188,  0.211419  ],
       [ 0.83341815,  1.14844397, -1.12189995, -0.60322237,  1.03699214],
       [ 2.18670195,  0.81868677, -1.19027625, -0.5805963 ,  0.17494746],
       [-0.08164147, -1.09015783, -0.30876685, -0.37239601, -0.32114727],
       [-1.08337208,  0.38233815,  0.75682923,  1.32445764,  0.76588618],
       [-0.73742339,  2.16909427, -0.51389369,  0.83491611,  0.79877358],
       [-0.10412568, -1.12915154,  0.27591746,  1.78400608, -0.75797747],
       [ 1.56355311,  0.15664616, -0.00545478,  0.14946216, -0.56959416],
       [-0.16456309, -0.94534058,  0.5956967 , -0.74761093,  0.36807891],
       [ 0.15162976,  0.1858014 , -0.10940315,  0.56898857, -0.55040572],
       [-1.50786564,  0.98533091,  0.10783093, -0.09600139, -0.16380159],
       [-1.13286401,  0.06572818, -0.25270712,  1.13217633, -0.05495522],
       [ 0.02716928,  1.01062339, -0.86362821, -2.4337639 ,  1.51814797],
       [-0.52845667, -1.83919349, -0.12231025,  1.83531215, -0.61638999],
       [-0.7409306 , -0.6225649 ,  0.06850134, -0.0361405 , -1.13889578],
       [-0.66764939, -1.14784126, -0.07803992,  0.31973433,  2.07396988],
       [ 1.8730104 , -0.53215607,  0.96197915,  0.24267644,  1.76119376],
       [ 0.5378692 ,  0.65978971, -0.53675037,  0.20970409,  0.10775281],
       [ 1.19893466, -1.45612947,  0.47058668, -0.50233789,  1.30619932]])

In [43]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [45]:
#details of data 
df1.describe()

               A          B          C          D          E
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.100009   0.028155  -0.134738   0.246896   0.340717
std     1.044010   1.068287   0.579451   1.000582   0.899513
min    -1.507866  -1.839193  -1.190276  -2.433764  -1.138896
25%    -0.685093  -0.981545  -0.519608  -0.404881  -0.378462
50%    -0.092884   0.171224  -0.115857   0.226190   0.193183
75%     0.854637   0.864141   0.149853   0.952203   0.907353
max     2.186702   2.169094   0.961979   1.835312   2.073970

In [46]:
#to transpose the data 
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [50]:
# Sorting
df1.sort_index(axis=0, ascending=False)

                   A         B         C         D         E
2022-01-20  1.198935 -1.456129  0.470587 -0.502338  1.306199
2022-01-19  0.537869  0.659790 -0.536750  0.209704  0.107753
2022-01-18  1.873010 -0.532156  0.961979  0.242676  1.761194
2022-01-17 -0.667649 -1.147841 -0.078040  0.319734  2.073970
2022-01-16 -0.740931 -0.622565  0.068501 -0.036141 -1.138896
2022-01-15 -0.528457 -1.839193 -0.122310  1.835312 -0.616390
2022-01-14  0.027169  1.010623 -0.863628 -2.433764  1.518148
2022-01-13 -1.132864  0.065728 -0.252707  1.132176 -0.054955
2022-01-12 -1.507866  0.985331  0.107831 -0.096001 -0.163802
2022-01-11  0.151630  0.185801 -0.109403  0.568989 -0.550406
2022-01-10 -0.164563 -0.945341  0.595697 -0.747611  0.368079
2022-01-09  1.563553  0.156646 -0.005455  0.149462 -0.569594
2022-01-08 -0.104126 -1.129152  0.275917  1.784006 -0.757977
2022-01-07 -0.737423  2.169094 -0.513894  0.834916  0.798774
2022-01-06 -1.083372  0.382338  0.756829  1.324458  0.765886
2022-01-05 -0.081641 -1.090158 -0.308767 -0.372396 -0.321147
2022-01-04  2.186702  0.818687 -1.190276 -0.580596  0.174947
2022-01-03  0.833418  1.148444 -1.121900 -0.603222  1.036992
2022-01-02  0.918294  0.856707 -0.232364  0.950132  0.211419
2022-01-01 -0.541502  0.886441 -0.596612  0.958417  0.864139

In [53]:
df.sort_values(by="B")

                   A         B         C         D         E
2022-01-23 -0.198214 -2.075892  0.887191  0.221786 -0.416216
2022-01-19  1.130726 -2.063273 -0.922675 -1.087421  1.754682
2022-01-09  0.432924 -1.836288  0.466117  1.247693 -0.282017
2022-01-17  2.179687 -1.660784  1.022057 -0.925613 -1.005609
2022-01-11 -0.418178 -1.237385  1.173824 -0.947559 -0.146890
2022-01-05  2.117883 -1.220357 -1.407096 -0.583775 -0.016587
2022-01-02 -0.085146 -1.212453 -1.380828  0.417691  0.782444
2022-01-13  1.272304 -1.161495  1.718792  1.623088 -2.137003
2022-01-10 -0.169957 -0.361568 -1.287344 -0.748285 -0.347073
2022-01-01 -0.126032 -0.199938 -0.288899  0.389413 -0.273131
2022-01-24 -0.428832 -0.146865 -0.516980 -1.979471  0.532454
2022-01-08 -1.972085 -0.036357 -0.171530 -0.133243 -0.108570
2022-01-12  0.550162  0.046416  0.755635 -0.994057 -0.832033
2022-01-27  0.568554  0.065070  0.106410 -1.210190  0.954157
2022-01-07 -0.304651  0.065318  1.809717  0.506734  0.702857
2022-01-04 -1.024023  0.079319  0.562072  0.157869  1.073070
2022-01-28 -0.525053  0.089512  2.491040 -0.947489  1.427276
2022-01-18  2.261681  0.170805 -3.247575  0.574118  0.449672
2022-01-20  2.237124  0.241961 -0.548753 -0.614911 -1.324496
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817
2022-01-31  0.874926  0.681585 -0.958487 -0.403117 -0.838487
2022-01-14  1.382511  0.712078 -0.333969 -0.272936  0.177636
2022-02-01  1.924742  0.724442  0.427667  0.527684  0.528801
2022-01-25 -1.047943  0.834688 -0.241208  0.673116  1.035140
2022-01-22 -0.495221  0.875533  1.192965  1.358641  3.064904
2022-01-06  0.832723  1.151164 -0.307525 -0.028793  0.069695
2022-01-30  2.111358  1.415935 -0.883126 -0.312846 -0.036638
2022-01-15  1.178524  1.462303 -0.497917  0.441221 -1.140695
2022-01-26 -0.427744  1.550146 -2.280609 -0.351001  2.043535
2022-02-02  0.186479  1.908751 -2.363941  0.642013  0.382990
2022-01-21  1.829505  2.083049 -0.876144 -0.432180 -1.008887
2022-01-29 -0.506854  2.501386  0.796286  1.332061  1.083685
2022-01-16 -0.332209  2.820748  0.360238  0.120003 -1.140833

In [54]:
df.sort_values(by="B",ascending=False)

                   A         B         C         D         E
2022-01-16 -0.332209  2.820748  0.360238  0.120003 -1.140833
2022-01-29 -0.506854  2.501386  0.796286  1.332061  1.083685
2022-01-21  1.829505  2.083049 -0.876144 -0.432180 -1.008887
2022-02-02  0.186479  1.908751 -2.363941  0.642013  0.382990
2022-01-26 -0.427744  1.550146 -2.280609 -0.351001  2.043535
2022-01-15  1.178524  1.462303 -0.497917  0.441221 -1.140695
2022-01-30  2.111358  1.415935 -0.883126 -0.312846 -0.036638
2022-01-06  0.832723  1.151164 -0.307525 -0.028793  0.069695
2022-01-22 -0.495221  0.875533  1.192965  1.358641  3.064904
2022-01-25 -1.047943  0.834688 -0.241208  0.673116  1.035140
2022-02-01  1.924742  0.724442  0.427667  0.527684  0.528801
2022-01-14  1.382511  0.712078 -0.333969 -0.272936  0.177636
2022-01-31  0.874926  0.681585 -0.958487 -0.403117 -0.838487
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817
2022-01-20  2.237124  0.241961 -0.548753 -0.614911 -1.324496
2022-01-18  2.261681  0.170805 -3.247575  0.574118  0.449672
2022-01-28 -0.525053  0.089512  2.491040 -0.947489  1.427276
2022-01-04 -1.024023  0.079319  0.562072  0.157869  1.073070
2022-01-07 -0.304651  0.065318  1.809717  0.506734  0.702857
2022-01-27  0.568554  0.065070  0.106410 -1.210190  0.954157
2022-01-12  0.550162  0.046416  0.755635 -0.994057 -0.832033
2022-01-08 -1.972085 -0.036357 -0.171530 -0.133243 -0.108570
2022-01-24 -0.428832 -0.146865 -0.516980 -1.979471  0.532454
2022-01-01 -0.126032 -0.199938 -0.288899  0.389413 -0.273131
2022-01-10 -0.169957 -0.361568 -1.287344 -0.748285 -0.347073
2022-01-13  1.272304 -1.161495  1.718792  1.623088 -2.137003
2022-01-02 -0.085146 -1.212453 -1.380828  0.417691  0.782444
2022-01-05  2.117883 -1.220357 -1.407096 -0.583775 -0.016587
2022-01-11 -0.418178 -1.237385  1.173824 -0.947559 -0.146890
2022-01-17  2.179687 -1.660784  1.022057 -0.925613 -1.005609
2022-01-09  0.432924 -1.836288  0.466117  1.247693 -0.282017
2022-01-19  1.130726 -2.063273 -0.922675 -1.087421  1.754682
2022-01-23 -0.198214 -2.075892  0.887191  0.221786 -0.416216

In [56]:
df1["A"]

2022-01-01   -0.541502
2022-01-02    0.918294
2022-01-03    0.833418
2022-01-04    2.186702
2022-01-05   -0.081641
2022-01-06   -1.083372
2022-01-07   -0.737423
2022-01-08   -0.104126
2022-01-09    1.563553
2022-01-10   -0.164563
2022-01-11    0.151630
2022-01-12   -1.507866
2022-01-13   -1.132864
2022-01-14    0.027169
2022-01-15   -0.528457
2022-01-16   -0.740931
2022-01-17   -0.667649
2022-01-18    1.873010
2022-01-19    0.537869
2022-01-20    1.198935
Freq: D, Name: A, dtype: float64

In [57]:
#filteration data with coloum wise or indexwise
df1["B"]

2022-01-01    0.886441
2022-01-02    0.856707
2022-01-03    1.148444
2022-01-04    0.818687
2022-01-05   -1.090158
2022-01-06    0.382338
2022-01-07    2.169094
2022-01-08   -1.129152
2022-01-09    0.156646
2022-01-10   -0.945341
2022-01-11    0.185801
2022-01-12    0.985331
2022-01-13    0.065728
2022-01-14    1.010623
2022-01-15   -1.839193
2022-01-16   -0.622565
2022-01-17   -1.147841
2022-01-18   -0.532156
2022-01-19    0.659790
2022-01-20   -1.456129
Freq: D, Name: B, dtype: float64

In [61]:
# TO select data row wise 
df[0:]

                   A         B         C         D         E
2022-01-01 -0.126032 -0.199938 -0.288899  0.389413 -0.273131

In [62]:
df[0:2]

                   A         B         C         D         E
2022-01-01 -0.126032 -0.199938 -0.288899  0.389413 -0.273131
2022-01-02 -0.085146 -1.212453 -1.380828  0.417691  0.782444

In [63]:
df[0:10]

                   A         B         C         D         E
2022-01-01 -0.126032 -0.199938 -0.288899  0.389413 -0.273131
2022-01-02 -0.085146 -1.212453 -1.380828  0.417691  0.782444
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817
2022-01-04 -1.024023  0.079319  0.562072  0.157869  1.073070
2022-01-05  2.117883 -1.220357 -1.407096 -0.583775 -0.016587
2022-01-06  0.832723  1.151164 -0.307525 -0.028793  0.069695
2022-01-07 -0.304651  0.065318  1.809717  0.506734  0.702857
2022-01-08 -1.972085 -0.036357 -0.171530 -0.133243 -0.108570
2022-01-09  0.432924 -1.836288  0.466117  1.247693 -0.282017
2022-01-10 -0.169957 -0.361568 -1.287344 -0.748285 -0.347073

In [64]:
df[1:10]

                   A         B         C         D         E
2022-01-02 -0.085146 -1.212453 -1.380828  0.417691  0.782444
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817
2022-01-04 -1.024023  0.079319  0.562072  0.157869  1.073070
2022-01-05  2.117883 -1.220357 -1.407096 -0.583775 -0.016587
2022-01-06  0.832723  1.151164 -0.307525 -0.028793  0.069695
2022-01-07 -0.304651  0.065318  1.809717  0.506734  0.702857
2022-01-08 -1.972085 -0.036357 -0.171530 -0.133243 -0.108570
2022-01-09  0.432924 -1.836288  0.466117  1.247693 -0.282017
2022-01-10 -0.169957 -0.361568 -1.287344 -0.748285 -0.347073

In [69]:
df1.head()

                   A         B         C         D         E
2022-01-01 -0.541502  0.886441 -0.596612  0.958417  0.864139
2022-01-02  0.918294  0.856707 -0.232364  0.950132  0.211419
2022-01-03  0.833418  1.148444 -1.121900 -0.603222  1.036992
2022-01-04  2.186702  0.818687 -1.190276 -0.580596  0.174947
2022-01-05 -0.081641 -1.090158 -0.308767 -0.372396 -0.321147

In [71]:
df1[0:1]

                   A         B         C         D         E
2022-01-01 -0.541502  0.886441 -0.596612  0.958417  0.864139

In [72]:
# showing the only 16th row  and its values 
df.loc[dates[15]]

A   -0.332209
B    2.820748
C    0.360238
D    0.120003
E   -1.140833
Name: 2022-01-16 00:00:00, dtype: float64

In [ ]:
#multiple axis lables 
df.loc[:, ["A","B"]]

In [82]:
df.loc["20220109":"20220113",["A","B", "C"]]

                   A         B         C
2022-01-09  0.432924 -1.836288  0.466117
2022-01-10 -0.169957 -0.361568 -1.287344
2022-01-11 -0.418178 -1.237385  1.173824
2022-01-12  0.550162  0.046416  0.755635
2022-01-13  1.272304 -1.161495  1.718792

In [83]:
df.loc["20220109",["A","B", "C"]]

A    0.432924
B   -1.836288
C    0.466117
Name: 2022-01-09 00:00:00, dtype: float64

In [84]:
#Scalar value
df.at[dates[0],"A"]

-0.1260324561047208

In [85]:
df.iloc[3]

A   -1.024023
B    0.079319
C    0.562072
D    0.157869
E    1.073070
Name: 2022-01-04 00:00:00, dtype: float64

In [86]:
df.iloc[3:10]

                   A         B         C         D         E
2022-01-04 -1.024023  0.079319  0.562072  0.157869  1.073070
2022-01-05  2.117883 -1.220357 -1.407096 -0.583775 -0.016587
2022-01-06  0.832723  1.151164 -0.307525 -0.028793  0.069695
2022-01-07 -0.304651  0.065318  1.809717  0.506734  0.702857
2022-01-08 -1.972085 -0.036357 -0.171530 -0.133243 -0.108570
2022-01-09  0.432924 -1.836288  0.466117  1.247693 -0.282017
2022-01-10 -0.169957 -0.361568 -1.287344 -0.748285 -0.347073

In [93]:
#       rows col
df.iloc[0:5, 0:2]

                   A         B
2022-01-01 -0.126032 -0.199938
2022-01-02 -0.085146 -1.212453
2022-01-03  0.164032  0.517432
2022-01-04 -1.024023  0.079319
2022-01-05  2.117883 -1.220357

In [181]:
df.iloc[:, 0:2]

                   A         B
2022-01-01 -0.126032 -0.199938
2022-01-02 -0.085146 -1.212453
2022-01-03  0.164032  0.517432
2022-01-04 -1.024023  0.079319
2022-01-05  2.117883 -1.220357
2022-01-06  0.832723  1.151164
2022-01-07 -0.304651  0.065318
2022-01-08 -1.972085 -0.036357
2022-01-09  0.432924 -1.836288
2022-01-10 -0.169957 -0.361568
2022-01-11 -0.418178 -1.237385
2022-01-12  0.550162  0.046416
2022-01-13  1.272304 -1.161495
2022-01-14  1.382511  0.712078
2022-01-15  1.178524  1.462303
2022-01-16 -0.332209  2.820748
2022-01-17  2.179687 -1.660784
2022-01-18  2.261681  0.170805
2022-01-19  1.130726 -2.063273
2022-01-20  2.237124  0.241961
2022-01-21  1.829505  2.083049
2022-01-22 -0.495221  0.875533
2022-01-23 -0.198214 -2.075892
2022-01-24 -0.428832 -0.146865
2022-01-25 -1.047943  0.834688
2022-01-26 -0.427744  1.550146
2022-01-27  0.568554  0.065070
2022-01-28 -0.525053  0.089512
2022-01-29 -0.506854  2.501386
2022-01-30  2.111358  1.415935
2022-01-31  0.874926  0.681585
2022-02-01  1.924742  0.724442
2022-02-02  0.186479  1.908751

In [103]:
df[df["A"]> 0]

                   A         B         C         D         E
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817
2022-01-05  2.117883 -1.220357 -1.407096 -0.583775 -0.016587
2022-01-06  0.832723  1.151164 -0.307525 -0.028793  0.069695
2022-01-09  0.432924 -1.836288  0.466117  1.247693 -0.282017
2022-01-12  0.550162  0.046416  0.755635 -0.994057 -0.832033
2022-01-13  1.272304 -1.161495  1.718792  1.623088 -2.137003
2022-01-14  1.382511  0.712078 -0.333969 -0.272936  0.177636
2022-01-15  1.178524  1.462303 -0.497917  0.441221 -1.140695
2022-01-17  2.179687 -1.660784  1.022057 -0.925613 -1.005609
2022-01-18  2.261681  0.170805 -3.247575  0.574118  0.449672
2022-01-19  1.130726 -2.063273 -0.922675 -1.087421  1.754682
2022-01-20  2.237124  0.241961 -0.548753 -0.614911 -1.324496
2022-01-21  1.829505  2.083049 -0.876144 -0.432180 -1.008887
2022-01-27  0.568554  0.065070  0.106410 -1.210190  0.954157
2022-01-30  2.111358  1.415935 -0.883126 -0.312846 -0.036638
2022-01-31  0.874926  0.681585 -0.958487 -0.403117 -0.838487
2022-02-01  1.924742  0.724442  0.427667  0.527684  0.528801
2022-02-02  0.186479  1.908751 -2.363941  0.642013  0.382990

In [105]:
df[df["A"]> 0]

                   A         B         C         D         E
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817
2022-01-05  2.117883 -1.220357 -1.407096 -0.583775 -0.016587
2022-01-06  0.832723  1.151164 -0.307525 -0.028793  0.069695
2022-01-09  0.432924 -1.836288  0.466117  1.247693 -0.282017
2022-01-12  0.550162  0.046416  0.755635 -0.994057 -0.832033
2022-01-13  1.272304 -1.161495  1.718792  1.623088 -2.137003
2022-01-14  1.382511  0.712078 -0.333969 -0.272936  0.177636
2022-01-15  1.178524  1.462303 -0.497917  0.441221 -1.140695
2022-01-17  2.179687 -1.660784  1.022057 -0.925613 -1.005609
2022-01-18  2.261681  0.170805 -3.247575  0.574118  0.449672
2022-01-19  1.130726 -2.063273 -0.922675 -1.087421  1.754682
2022-01-20  2.237124  0.241961 -0.548753 -0.614911 -1.324496
2022-01-21  1.829505  2.083049 -0.876144 -0.432180 -1.008887
2022-01-27  0.568554  0.065070  0.106410 -1.210190  0.954157
2022-01-30  2.111358  1.415935 -0.883126 -0.312846 -0.036638
2022-01-31  0.874926  0.681585 -0.958487 -0.403117 -0.838487
2022-02-01  1.924742  0.724442  0.427667  0.527684  0.528801
2022-02-02  0.186479  1.908751 -2.363941  0.642013  0.382990

# Assignment NO 1

In [149]:
# assignment :Getting non zero values in more then one column 
df[ df.iloc[:, 0:5]> 0]

                   A         B         C         D         E
2022-01-01       NaN       NaN       NaN  0.389413       NaN
2022-01-02       NaN       NaN       NaN  0.417691  0.782444
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817
2022-01-04       NaN  0.079319  0.562072  0.157869  1.073070
2022-01-05  2.117883       NaN       NaN       NaN       NaN
2022-01-06  0.832723  1.151164       NaN       NaN  0.069695
2022-01-07       NaN  0.065318  1.809717  0.506734  0.702857
2022-01-08       NaN       NaN       NaN       NaN       NaN
2022-01-09  0.432924       NaN  0.466117  1.247693       NaN
2022-01-10       NaN       NaN       NaN       NaN       NaN
2022-01-11       NaN       NaN  1.173824       NaN       NaN
2022-01-12  0.550162  0.046416  0.755635       NaN       NaN
2022-01-13  1.272304       NaN  1.718792  1.623088       NaN
2022-01-14  1.382511  0.712078       NaN       NaN  0.177636
2022-01-15  1.178524  1.462303       NaN  0.441221       NaN
2022-01-16       NaN  2.820748  0.360238  0.120003       NaN
2022-01-17  2.179687       NaN  1.022057       NaN       NaN
2022-01-18  2.261681  0.170805       NaN  0.574118  0.449672
2022-01-19  1.130726       NaN       NaN       NaN  1.754682
2022-01-20  2.237124  0.241961       NaN       NaN       NaN
2022-01-21  1.829505  2.083049       NaN       NaN       NaN
2022-01-22       NaN  0.875533  1.192965  1.358641  3.064904
2022-01-23       NaN       NaN  0.887191  0.221786       NaN
2022-01-24       NaN       NaN       NaN       NaN  0.532454
2022-01-25       NaN  0.834688       NaN  0.673116  1.035140
2022-01-26       NaN  1.550146       NaN       NaN  2.043535
2022-01-27  0.568554  0.065070  0.106410       NaN  0.954157
2022-01-28       NaN  0.089512  2.491040       NaN  1.427276
2022-01-29       NaN  2.501386  0.796286  1.332061  1.083685
2022-01-30  2.111358  1.415935       NaN       NaN       NaN
2022-01-31  0.874926  0.681585       NaN       NaN       NaN
2022-02-01  1.924742  0.724442  0.427667  0.527684  0.528801
2022-02-02  0.186479  1.908751       NaN  0.642013  0.382990

In [112]:
df[df["A"]> 0]

                   A         B         C         D         E
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817
2022-01-05  2.117883 -1.220357 -1.407096 -0.583775 -0.016587
2022-01-06  0.832723  1.151164 -0.307525 -0.028793  0.069695
2022-01-09  0.432924 -1.836288  0.466117  1.247693 -0.282017
2022-01-12  0.550162  0.046416  0.755635 -0.994057 -0.832033
2022-01-13  1.272304 -1.161495  1.718792  1.623088 -2.137003
2022-01-14  1.382511  0.712078 -0.333969 -0.272936  0.177636
2022-01-15  1.178524  1.462303 -0.497917  0.441221 -1.140695
2022-01-17  2.179687 -1.660784  1.022057 -0.925613 -1.005609
2022-01-18  2.261681  0.170805 -3.247575  0.574118  0.449672
2022-01-19  1.130726 -2.063273 -0.922675 -1.087421  1.754682
2022-01-20  2.237124  0.241961 -0.548753 -0.614911 -1.324496
2022-01-21  1.829505  2.083049 -0.876144 -0.432180 -1.008887
2022-01-27  0.568554  0.065070  0.106410 -1.210190  0.954157
2022-01-30  2.111358  1.415935 -0.883126 -0.312846 -0.036638
2022-01-31  0.874926  0.681585 -0.958487 -0.403117 -0.838487
2022-02-01  1.924742  0.724442  0.427667  0.527684  0.528801
2022-02-02  0.186479  1.908751 -2.363941  0.642013  0.382990

In [108]:
df[df>0]

                   A         B         C         D         E
2022-01-01       NaN       NaN       NaN  0.389413       NaN
2022-01-02       NaN       NaN       NaN  0.417691  0.782444
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817
2022-01-04       NaN  0.079319  0.562072  0.157869  1.073070
2022-01-05  2.117883       NaN       NaN       NaN       NaN
2022-01-06  0.832723  1.151164       NaN       NaN  0.069695
2022-01-07       NaN  0.065318  1.809717  0.506734  0.702857
2022-01-08       NaN       NaN       NaN       NaN       NaN
2022-01-09  0.432924       NaN  0.466117  1.247693       NaN
2022-01-10       NaN       NaN       NaN       NaN       NaN
2022-01-11       NaN       NaN  1.173824       NaN       NaN
2022-01-12  0.550162  0.046416  0.755635       NaN       NaN
2022-01-13  1.272304       NaN  1.718792  1.623088       NaN
2022-01-14  1.382511  0.712078       NaN       NaN  0.177636
2022-01-15  1.178524  1.462303       NaN  0.441221       NaN
2022-01-16       NaN  2.820748  0.360238  0.120003       NaN
2022-01-17  2.179687       NaN  1.022057       NaN       NaN
2022-01-18  2.261681  0.170805       NaN  0.574118  0.449672
2022-01-19  1.130726       NaN       NaN       NaN  1.754682
2022-01-20  2.237124  0.241961       NaN       NaN       NaN
2022-01-21  1.829505  2.083049       NaN       NaN       NaN
2022-01-22       NaN  0.875533  1.192965  1.358641  3.064904
2022-01-23       NaN       NaN  0.887191  0.221786       NaN
2022-01-24       NaN       NaN       NaN       NaN  0.532454
2022-01-25       NaN  0.834688       NaN  0.673116  1.035140
2022-01-26       NaN  1.550146       NaN       NaN  2.043535
2022-01-27  0.568554  0.065070  0.106410       NaN  0.954157
2022-01-28       NaN  0.089512  2.491040       NaN  1.427276
2022-01-29       NaN  2.501386  0.796286  1.332061  1.083685
2022-01-30  2.111358  1.415935       NaN       NaN       NaN
2022-01-31  0.874926  0.681585       NaN       NaN       NaN
2022-02-01  1.924742  0.724442  0.427667  0.527684  0.528801
2022-02-02  0.186479  1.908751       NaN  0.642013  0.382990

In [124]:
df[ df.iloc[0:3]< 0 ]

                   A         B         C   D         E
2022-01-01 -0.126032 -0.199938 -0.288899 NaN -0.273131
2022-01-02 -0.085146 -1.212453 -1.380828 NaN       NaN
2022-01-03       NaN       NaN       NaN NaN       NaN
2022-01-04       NaN       NaN       NaN NaN       NaN
2022-01-05       NaN       NaN       NaN NaN       NaN
2022-01-06       NaN       NaN       NaN NaN       NaN
2022-01-07       NaN       NaN       NaN NaN       NaN
2022-01-08       NaN       NaN       NaN NaN       NaN
2022-01-09       NaN       NaN       NaN NaN       NaN
2022-01-10       NaN       NaN       NaN NaN       NaN
2022-01-11       NaN       NaN       NaN NaN       NaN
2022-01-12       NaN       NaN       NaN NaN       NaN
2022-01-13       NaN       NaN       NaN NaN       NaN
2022-01-14       NaN       NaN       NaN NaN       NaN
2022-01-15       NaN       NaN       NaN NaN       NaN
2022-01-16       NaN       NaN       NaN NaN       NaN
2022-01-17       NaN       NaN       NaN NaN       NaN
2022-01-18       NaN       NaN       NaN NaN       NaN
2022-01-19       NaN       NaN       NaN NaN       NaN
2022-01-20       NaN       NaN       NaN NaN       NaN
2022-01-21       NaN       NaN       NaN NaN       NaN
2022-01-22       NaN       NaN       NaN NaN       NaN
2022-01-23       NaN       NaN       NaN NaN       NaN
2022-01-24       NaN       NaN       NaN NaN       NaN
2022-01-25       NaN       NaN       NaN NaN       NaN
2022-01-26       NaN       NaN       NaN NaN       NaN
2022-01-27       NaN       NaN       NaN NaN       NaN
2022-01-28       NaN       NaN       NaN NaN       NaN
2022-01-29       NaN       NaN       NaN NaN       NaN
2022-01-30       NaN       NaN       NaN NaN       NaN
2022-01-31       NaN       NaN       NaN NaN       NaN
2022-02-01       NaN       NaN       NaN NaN       NaN
2022-02-02       NaN       NaN       NaN NaN       NaN

In [150]:
# IS IN Method 
df3 = df.copy()

In [151]:
#Adding a column
df3["BABA"]= [1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10,1,2,3]
df3

                   A         B         C         D         E  BABA
2022-01-01 -0.126032 -0.199938 -0.288899  0.389413 -0.273131     1
2022-01-02 -0.085146 -1.212453 -1.380828  0.417691  0.782444     2
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817     3
2022-01-04 -1.024023  0.079319  0.562072  0.157869  1.073070     4
2022-01-05  2.117883 -1.220357 -1.407096 -0.583775 -0.016587     5
2022-01-06  0.832723  1.151164 -0.307525 -0.028793  0.069695     6
2022-01-07 -0.304651  0.065318  1.809717  0.506734  0.702857     7
2022-01-08 -1.972085 -0.036357 -0.171530 -0.133243 -0.108570     8
2022-01-09  0.432924 -1.836288  0.466117  1.247693 -0.282017     9
2022-01-10 -0.169957 -0.361568 -1.287344 -0.748285 -0.347073    10
2022-01-11 -0.418178 -1.237385  1.173824 -0.947559 -0.146890     1
2022-01-12  0.550162  0.046416  0.755635 -0.994057 -0.832033     2
2022-01-13  1.272304 -1.161495  1.718792  1.623088 -2.137003     3
2022-01-14  1.382511  0.712078 -0.333969 -0.272936  0.177636     4
2022-01-15  1.178524  1.462303 -0.497917  0.441221 -1.140695     5
2022-01-16 -0.332209  2.820748  0.360238  0.120003 -1.140833     6
2022-01-17  2.179687 -1.660784  1.022057 -0.925613 -1.005609     7
2022-01-18  2.261681  0.170805 -3.247575  0.574118  0.449672     8
2022-01-19  1.130726 -2.063273 -0.922675 -1.087421  1.754682     9
2022-01-20  2.237124  0.241961 -0.548753 -0.614911 -1.324496    10
2022-01-21  1.829505  2.083049 -0.876144 -0.432180 -1.008887     1
2022-01-22 -0.495221  0.875533  1.192965  1.358641  3.064904     2
2022-01-23 -0.198214 -2.075892  0.887191  0.221786 -0.416216     3
2022-01-24 -0.428832 -0.146865 -0.516980 -1.979471  0.532454     4
2022-01-25 -1.047943  0.834688 -0.241208  0.673116  1.035140     5
2022-01-26 -0.427744  1.550146 -2.280609 -0.351001  2.043535     6
2022-01-27  0.568554  0.065070  0.106410 -1.210190  0.954157     7
2022-01-28 -0.525053  0.089512  2.491040 -0.947489  1.427276     8
2022-01-29 -0.506854  2.501386  0.796286  1.332061  1.083685     9
2022-01-30  2.111358  1.415935 -0.883126 -0.312846 -0.036638    10
2022-01-31  0.874926  0.681585 -0.958487 -0.403117 -0.838487     1
2022-02-01  1.924742  0.724442  0.427667  0.527684  0.528801     2
2022-02-02  0.186479  1.908751 -2.363941  0.642013  0.382990     3

In [159]:
#Adding a new column having same value of previous column 
df3["Mean"] =df3["A"]
df3.head()

                   A         B         C         D         E  BABA      Mean
2022-01-01 -0.126032 -0.199938 -0.288899  0.389413 -0.273131     1 -0.126032
2022-01-02 -0.085146 -1.212453 -1.380828  0.417691  0.782444     2 -0.085146
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817     3  0.164032
2022-01-04 -1.024023  0.079319  0.562072  0.157869  1.073070     4 -1.024023
2022-01-05  2.117883 -1.220357 -1.407096 -0.583775 -0.016587     5  2.117883

# Assignment NO. 2

In [165]:
#Adding a column having mean of previous values
# #Assignment no 2  
df3["Mean"] =df3.mean(axis= 1)
df3.head()

                   A         B         C         D         E  BABA      Mean
2022-01-01 -0.126032 -0.199938 -0.288899  0.389413 -0.273131     1  0.083569
2022-01-02 -0.085146 -1.212453 -1.380828  0.417691  0.782444     2  0.086951
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817     3  0.775829
2022-01-04 -1.024023  0.079319  0.562072  0.157869  1.073070     4  0.808051
2022-01-05  2.117883 -1.220357 -1.407096 -0.583775 -0.016587     5  0.648345

In [190]:
df["New"]="new hai "
df.head()

                   A         B         C         D         E       New
2022-01-01 -0.126032 -0.199938 -0.288899  0.389413 -0.273131  new hai
2022-01-02 -0.085146 -1.212453 -1.380828  0.417691  0.782444  new hai
2022-01-03  0.164032  0.517432  0.585994  0.023702  0.363817  new hai
2022-01-04 -1.024023  0.079319  0.562072  0.157869  1.073070  new hai
2022-01-05  2.117883 -1.220357 -1.407096 -0.583775 -0.016587  new hai

In [191]:
df.insert(2,"Beech me ", "18+")
df.head()

,A,B,Beech me,C,D,E,New
2022-01-01,-0.126032,-0.199938,18+,-0.288899,0.389413,-0.273131,new hai
2022-01-02,-0.085146,-1.212453,18+,-1.380828,0.417691,0.782444,new hai
2022-01-03,0.164032,0.517432,18+,0.585994,0.023702,0.363817,new hai
2022-01-04,-1.024023,0.079319,18+,0.562072,0.157869,1.073070,new hai
2022-01-05,2.117883,-1.220357,18+,-1.407096,-0.583775,-0.016587,new hai

In [192]:
df["Concatinated"]= df["A"]+df["B"]
df.head()

,A,B,Beech me,C,D,E,New,Concatinated
2022-01-01,-0.126032,-0.199938,18+,-0.288899,0.389413,-0.273131,new hai,-0.325971
2022-01-02,-0.085146,-1.212453,18+,-1.380828,0.417691,0.782444,new hai,-1.297599
2022-01-03,0.164032,0.517432,18+,0.585994,0.023702,0.363817,new hai,0.681463
2022-01-04,-1.024023,0.079319,18+,0.562072,0.157869,1.073070,new hai,-0.944704
2022-01-05,2.117883,-1.220357,18+,-1.407096,-0.583775,-0.016587,new hai,0.897526